{% include "header.html" %}


<!-- Page Header -->
<header class="masthead" style="">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Stationary Request</h1>
                    <span class="subheading">All Requests</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid">



 <table id="myTable" class="table table-striped table-bordered display">
  <thead>
    <tr>
      <th>Request ID</th>
      <th>Requested By</th>
      <th>Date</th>
      <th>Items</th>

    </tr>
  </thead>
<tbody>
  {% for req_data in form %}
              <tr>
                <td>{{ req_data['Request ID'] }}</td>
                <td>{{ req_data['Requested By'] }}</td>
                <td>{{ req_data['Date'] }}</td>
                <td>
                    {% for item in req_data['Items'] %}
                        {{ item['Name'] }} ({{ item['Code'] }}) {{ item['Quantity'] }} {{ item['Unit'] }}<br>
                    {% endfor %}
                </td>
            </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>



</section>
  <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>

    <!-- Load Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
</head>



<script>
   $(document).ready(function() {
    $('#myTable').DataTable();


});
</script>







